#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.articleCardGrid {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(4, 40px) 150px;
  grid-template-rows: 80px 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.articleCardTitle {
  grid-area: 1 / 1 / 2 / 7;
  font-size: large;
  text-align: left;
}
.articleCardAuthor {
  display: grid;
  grid-area: 2 / 1 / 3 / 2;
  font-size: small;
  text-align: left;
  padding: 0px;
}
.articleCardDate {
  grid-area: 2 / 2 / 3 / 3;
  font-size: small;
  text-align: left;
}
.articleCardVotesIcon {
  grid-area: 2 / 3 / 3 / 4;
}
.articleCardVotes {
  grid-area: 2 / 4 / 3 / 5;
  font-size: small;
  text-align: left;
}
.articleCardCommentsIcon {
  grid-area: 2 / 5 / 3 / 6;
  width: "20px";
  height: "20px";
}
.articleCardComments {
  grid-area: 2 / 6 / 3 / 7;
  font-size: small;
  text-align: left;
}
.articleCardImgCell {
  grid-area: 1 / 7 / 3 / 8;
  width: "150px";
  height: "100px";
}
