#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

figure {
  margin: 0%;
}

ul {
  list-style-type: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.singleArticleAuthorDate {
  font-size: 14px;
}

.articleCardGrid {
  display: grid;
  grid-template-columns: 1fr 100px repeat(4, 30px) 150px;
  grid-template-rows: 80px 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 4px;
}

.articleCardTitle {
  grid-area: 1 / 1 / 2 / 7;
  font-size: large;
  text-align: left;
}
.articleCardAuthor {
  display: grid;
  grid-area: 2 / 1 / 3 / 2;
  font-size: small;
  text-align: left;
  margin: 0px;
}
.articleCardDate {
  grid-area: 2 / 2 / 3 / 3;
  font-size: small;
  text-align: left;
}
.articleCardVotesIcon {
  grid-area: 2 / 3 / 3 / 4;
}
.articleCardVotes {
  grid-area: 2 / 4 / 3 / 5;
  font-size: small;
  text-align: left;
  margin: 0px;
}
.articleCardCommentsIcon {
  grid-area: 2 / 5 / 3 / 6;
  width: "20px";
  height: "20px";
}
.articleCardComments {
  grid-area: 2 / 6 / 3 / 7;
  font-size: small;
  text-align: left;
  margin: 0px;
}
.articleCardImgCell {
  grid-area: 1 / 7 / 3 / 8;
  width: "150px";
  height: "100px";
}

.singleArticleBody {
  text-align: left;
}

.votes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 20px 20px 2fr;
  grid-template-rows: 20px;
  grid-column-gap: 4px;
  grid-row-gap: 0px;
}

.votes-empty-left {
  grid-area: 1 / 1 / 2 / 2;
}
.votes-items-count {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0%;
  text-align: right;
  color: blue;
}
.votes-button-upvote {
  grid-area: 1 / 3 / 2 / 4;
  color: blue;
  font-size: medium;
  font-weight: bold;
}
.votes-button-downvote {
  grid-area: 1 / 4 / 2 / 5;
  color: blue;
  font-size: medium;
  font-weight: bold;
}
.votes-empty-right {
  grid-area: 1 / 5 / 2 / 6;
}

.comment-container {
  display: grid;
  grid-template-columns: 150px 1fr repeat(2, 30px) 1fr 150px;
  grid-template-rows: 20px 1fr 20px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  margin-bottom: 20px;
}

.comment-author {
  grid-area: 1 / 1 / 2 / 6;
  text-align: left;
}
.comment-date {
  grid-area: 1 / 6 / 2 / 7;
  text-align: right;
}
.comment-body {
  grid-area: 2 / 1 / 3 / 7;
  text-align: left;
  margin-top: 10px;
}
.comment-pad-left {
  grid-area: 3 / 1 / 4 / 3;
}
.comment-vote-icon {
  grid-area: 3 / 3 / 4 / 4;
}
.comment-vote-count {
  grid-area: 3 / 4 / 4 / 5;
}
.comment-pad-right {
  grid-area: 3 / 5 / 4 / 7;
}
